<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Software.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Software.Properties.Settings.AccountDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\AccountDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SMain.Properties.Settings.Student_personal1ConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Student_personal1.mdf;Integrated Security=True;User Instance=False"
            providerName="System.Data.SqlClient" />
        <add name="SMain.Properties.Settings.StaffConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Staff.mdf;Integrated Security=True;User Instance=False"
            providerName="System.Data.SqlClient" />
        <add name="SMain.Properties.Settings.InventryConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Inventry.mdf;Integrated Security=True;User Instance=False"
            providerName="System.Data.SqlClient" />
        <add name="SMain.Properties.Settings.EventConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Event.mdf;Integrated Security=True;User Instance=False"
            providerName="System.Data.SqlClient" />
        <add name="SMain.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=False"
            providerName="System.Data.SqlClient" />
        <add name="SMain.Properties.Settings.MainConString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Achievement.mdf;Integrated Security=True;User Instance=False"
            providerName="System.Data.SqlClient" />
        <add name="SMain.Properties.Settings.GalleryConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Gallery.mdf;Integrated Security=True;User Instance=False"
            providerName="System.Data.SqlClient" />
        <add name="SMain.Properties.Settings.AccountDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\AccountDatabase.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Software.Properties.Settings.MainConString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Achievement.mdf;Integrated Security=True;User Instance=False"
            providerName="System.Data.SqlClient" />
        <add name="Software.Properties.Settings.GalleryConStr" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Gallery.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Software.Properties.Settings>
            <setting name="SelectedAc" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedAcNum" serializeAs="String">
                <value>0</value>
            </setting>
        </Software.Properties.Settings>
    </userSettings>
</configuration>